$black: #000000;
$dark: #212121;
$dark-gray: #555555;
$gray: #AAAAAA;
$white: #FFFFFF;

.epg-red {
  color: #9A0606;
}
.font-title {
  font-family: 'Patua One', cursive;
}
.font-text {
  font-family: 'Open Sans', sans-serif;
}
.font-quote {
  font-family: 'Space Grotesk', sans-serif;
}
